@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
    color:#243e63;
}

body{
max-width: 100vh;
overflow-x: hidden;
}

.nav__row{
display: flex;
justify-content: space-between;
}

.row{
width: 100%;
max-width: 1280px;
margin: 0 auto;
}

.row__narrow{
width: 100%;
max-width: 1024px;
margin: 0 auto;
}

.container{
padding: 96px 0;
}
.row{
width:100%;
max-width:1200px;
margin:0 auto;
}

.nav{
display: flex;
justify-content: space-between;
align-items: center;
}

.nav__logo{
display: flex;
align-items: center;
margin: 8px 0;
padding-bottom: 4px;
}

.nav__logo--img{
height: 40px;
width: 40px;
color: #243e63;
}

.nav__logo--title{
font-weight: 900;
font-size: 24px;
margin-left: 12px;
padding-bottom: 2px;
letter-spacing: 0.6px;
}

.nav__links{
display: flex;
align-items: center;
padding-bottom: 2px;
box-sizing: border-box;
margin: auto 0;
justify-content: space-between;
}

.nav__link{
font-size: 14px;
font-weight: 600;
padding-top: 4px;
letter-spacing: 0.35px;
border-bottom: 2px solid transparent;
position: relative;
transition: all 300ms ease;
}

.nav__link--primary{
margin:0;
padding: 10px 32px;
margin-top: 2px;
border-radius: 9999px;
color:#fff;
background-color: #6415ff;
line-height: 1.5;
border: none;
width: auto;
transition: all 300ms ease;
}

.btn__menu{
background-color: transparent;
border: none;
display: none;
transition: all 300ms ease;
cursor: pointer;
}

.menu{
position:fixed;
top:0;
left:0;
right: 0;
height: 378px;
margin: 24px 16px;
padding:32px;
background-color: #fff;
border: 1px solid rgb(229,231,235);
border-radius: 8px;
z-index:4;
visibility: hidden;
opacity: 0;
transform: translateX(300%);
transition: all 300ms ease;
}

.btn__menu--close{
background-color: transparent;
border: none;
display: none;
transition: all 300ms ease;
}

.menu__links{
width:100%;
height:100%;
display: flex;
flex-direction: row;
align-items: center;
word-spacing: 1.5;
}

.menu__link{
color:#1a202c;
font-size: 18px;
font-weight: 600;
line-height:1.5;
margin: 8px 0;
padding-bottom: 4px;
border-bottom: 2px solid transparent;
word-spacing: 1.5;
}

.nav__button{
margin:0;
padding:12px 32px;
margin-top: 2px;
color:#fff;
background:#6415ff;
border-radius: 500px;
border:none;
width:auto;
font-size:14px;
transition: all 300ms ease;
font-weight: 600;
}


.purple{
color:#6415ff;
}

section{
padding: 0 32px;
}

main{
margin-bottom: 96px;
}

.container{
padding: 80px 0;
}

.section__tag{
color: #6415ff;
letter-spacing: 1.6px;
font-weight: 700;
align-items: center;
margin-bottom: 16px;
justify-content: center;
display: flex;
text-align: center;
}

.section__title{
font-size: 48px;
color: rgb(36,62,99);
font-weight: 900;
line-height: 1.5;
margin: 16px 0;
letter-spacing: 0.025em;
}

.section__para{
font-size: 18px;
font-weight: 500;
color: #7c8ba1;
line-height: 1.6;
text-align: center;
}

.features{
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}

.feature{
width: calc(100%/3);
display: flex;
box-sizing: border-box;
flex-direction: column;
color:#243e63
}

.feature__row{
display: flex;
align-items: flex-start;
padding: 32px 24px;
}

.feature__img--wrapper{
display: flex;
padding:20px;
border: 1px solid #e5e7eb;
border-radius: 500px;
}

.feature__img{
width: 24px;
height: 24px;
}

.feature__text{
margin-top: 8px;
margin-left: 16px;
}

.feature__title{
display: block;
margin:0;
padding:0;
box-sizing: border-box;
color:#243e63;
font-size: 20px;
}

.feature__para{
margin-top:16px;
font-size:16px;
max-width: calc(100%/3);
line-height: 1.5;
color: rgb(124,139,161);
font-weight: 500;
}

.section{
padding: 0 32px;
}

.container{
padding: 96px 0;
}

.row{
width:100%;
max-width:1280px;
margin:0 auto;
}

.quality__description{
width:50%;
max-width: 576px;
margin-right:64px;
}

.section__tag{
font-size: 16px;
color: #6415ff;
letter-spacing: 1.6px;
font-weight: 700;
}

.section__title{
font-size: 48px;
font-weight: 900;
color: rgb(36,62,99);
margin: 16px 0;
letter-spacing: 0.025em;
}

.section__para{
font-size: 18px;
font-weight: 500;
color: #7c8ba1;
line-height: 1.6;
}

.quality__btn{
background-color: #6415ff;
padding: 12px 32px;
border: none;
border-radius: 500px;
color: #f7fafc;
font-size: 14px;
font-weight: bold;
transition: all 300ms ease;
cursor: pointer;
line-height: 5px;
margin:5%;
}

.quality__img--wrapper{
border-radius: 4px;
border: 1px solid rgb(229,231,235);
position: relative;
margin:0 56px;
z-index: 2;
display: flex;
}

.quality__img{
width: 100%;
z-index: 1;
}

.steps{
padding: 0 32px;
margin: auto 0;
box-sizing: border-box;
}

.container{
padding: 96px 0;
}

.row{
width:calc(100%/2);
max-width:1200px;
margin:0 auto;
display: flex;
flex-direction: column;
}

.steps__img--wrapper{
display: flex;
position: relative;
}

.steps__img{
width:50%;
}

.steps__description{
padding: 32px 0;
padding-left: 64px;
width:50%;
}

.section__tag{
font-size: 16px;
color: #6415ff;
letter-spacing: 1.6px;
font-weight: 700;
}

.section__title{
font-size: 48px;
font-weight: 900;
color: rgb(36,62,99);
margin: 16px 0;
letter-spacing: 0.025em;
}

.steps__list{
margin:0;
padding: 0;
box-sizing: border-box;
color:#243e63;
}

.step{
display: flex;
align-items: flex-start;
margin-top: 32px;
box-sizing: border-box;
color: #243e63;
}

.step__number{
color:#cbd5e0;
font-size: 36px;
font-weight: 600;
line-height: 1;
}

.step__description{
display: flex;
flex-direction: column;
margin-left: 24px;
max-width: 320px;
color: #243e63;
}

.step__title{
font-weight: 600;
font-size: 20px;
color:#243e63;
line-height: 1;
}

.step__para{
font-size: 14px;
color: #718096;
margin-top: 12px;
font-weight: 500;
line-height: 2;
}

.row{
width:100%;
max-width:1200px;
margin:0 auto;
}

.values__list{
margin-left: 0;
margin-right: 0;
display: flex;
max-width: none;
flex-direction: row;
}

.value{
align-items:flex-start;
display: flex;
flex-direction: column;
}

.value__title{
display: flex;
align-items: center;
}

.value:nth-child(1)
.value__img--wrapper{
background-color: #9ae6b4;
}

.value__img--wrapper{
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
width:36px;
height: 36px;
}

.value__name{
margin-left: 12px;
font-size: 20px;
font-weight: bold;
color:#243e63
}

.value__para{
margin-top: 16px;
line-height: 1.6;
color:#718096;
}

.value:nth-child(2)
.value__img--wrapper{
background-color: #feb2b2;
}

.value__img--wrapper{
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
width: 36px;
height: 36px;
}

.values__btn{
background-color: #6415ff;
padding: 12px 32px;
border:none;
border-radius: 500px;
font-size: 14px;
color: #fff;
font-weight: bold;
transition: all 300ms ease;
cursor: pointer;
}

.values__img{
width: 50%;
margin: 0;
padding: 0;
box-sizing: border-box;
color:#243e63;
}

.row{
width:100%;
max-width: 1280px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
}




/*

NAVBAR ↓

*/

nav{
display: flex;
justify-content: space-between;
}

.nav_{
display: flex;
align-items: center;
margin: 8px 0;
padding-bottom: 4px;
}

.btn__menu {
display: none;
background: transparent;
border: none;
transition: all 300ms ease;
}

.btn__menu--svg:hover {
filter: invert (26%) sepia (94%) saturate (7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
position: fixed;
top: 0;
left: 0;
right: 0;
height:378px;
margin: 24px 16px;
padding: 32px;
background-color: #fff;
border: 1px solid rgb(229,231,235);
border-radius: 8px;
z-index: 4;
visibility: hidden;
opacity: 0;
transform: translateX(300%);
transition: all 300ms ease;
}

.modal__links {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items:center;
}

.modal__link {
color: #1a202c;
font-size: 18px;
font-weight: 500;
line-height: 1.5;
margin: 8px 0;
padding-bottom: 4px;
border-bottom: 2px solid transparent;
}

.modal__link--primary {
color: #f7fafc;
padding: 12px 32px;
background: #6415ff;
border-radius: 500px;
border: none;
}

.menu--open .modal {
visibility: visible;
opacity: 1;
transform: translateX(0);
}

.btn__menu--close {
position: fixed;
top: 24px;
right: 18px;
}

/*

HEADER / ABOUT US ↓

*/

header.row {
display: flex;
align-items: center;
justify-content: space-between;
}

/*

FEATURES ↓

*/

.features{
position: relative;
}

#features .row__narrow{
display: flex;
flex-direction: column;
align-items: center;
}

/*

QUALITY WORK ↓

*/

.quality.row{
display: flex;
align-items: center;
justify-content: space-between;
}

/*

STEPS ↓

*/

#steps.row{
display: flex;
justify-content: space-between;
align-items: center;
}

/*

VALUES ↓

*/

#values.row{
display: flex;
justify-content: space-between;
align-items: center;
}

/*

PRICING ↓

*/

#pricing.row{
display: flex;
flex-direction: column;
align-items: center;
}

/*

TESTIMONIALS ↓

*/

#testimonials.row{
display: flex;
}

/*

START TO CALL ACTION ↓

*/

.row{
width:100%;
max-width:1200px;
margin:0 auto;
}

.section__tag{
color: #6415ff;
font-weight: 700;
margin-bottom: 16px;
}

.section__title{
font-size: 48px;
color: rgb(36,62,99);
font-weight: 900;
margin:16px 0;
line-height: 1.5; 
letter-spacing: 0.025em;
}

.section__para{
font-size: 18px;
font-weight: 500;
color: #7c8ba1;
line-height: 1.6;
}

.plans{
display: flex;
position: relative;
flex-direction: row;
width: 100%;
justify-content: space-between;
}

.plan{
width: calc(100%/3);
display: flex;
flex-direction: column;
}

.plan__stripe, .plan__button{
color: linear-gradient(115deg,rgb (56, 178,172) 0%,rgb (129, 230, 217) 100%);
}

.plan__stripe{
position: absolute;
left: 0;
right: 0;
top:0;
height: 1.5px;
box-sizing: border-box;
}

.plan__button{
width: 50%;
display: flex;
justify-content: center;
}

.plan__button:nth-child(1){
background: #f565f5;
margin-right: 32px;
transition: all 300ms ease;
padding: 20px 40px;
border-radius: 500px;
font-weight: 700;
font-size: 16px;
color: whitesmoke;
line-height: 1.5;
margin: 1px;
z-index: 2;
}

.plan__button:nth-child(2){
background: #f7fafc;
border: 1px solid rgb(160,174,192);
transition: all 300ms ease;
padding: 20px 40px;
border-radius: 500px;
font-weight: 700;
font-size: 16px;
}





#start.row{
position: relative;
overflow: hidden;
display: flex;
}

.links{
display: flex;
flex-wrap:wrap;
}

.link{
display: flex;
flex-direction: column;
width: calc(100%/5);
align-items: center;
}

ul{
list-style-type: none;
display: flex;
flex-direction: column;
width: calc(100%/5);
}

.testimonial{
margin-top: 40px;
}

.testimonial__rating{
color: rgba(246,173,85);
margin-right: 2px;
margin-top: 4px;
}

.fa-solid fa-star{
font-weight: 900;
}

.testimonial__title{
color:#4a5568;
line-height: 1.6;
font-size: 1.25;
font-weight: 700;
}

.testimonial__title{
margin-top: 1px;
margin-bottom: 2px;
font-weight: 500;
line-height: 1.6;
font-size: 16px;
color: rgb(74,85,104);
}

.testimonial__para{
margin-top: 1px;
margin-bottom: 2px;
font-weight: 500;
line-height: 1.6;
font-size: 16px;
color:rgb(74,85,104);
}

.testimonial__bottom{
display: flex;
justify-content: space-between;
}

.testimonial__profile{
display: flex;
align-items: center;
}

.testimonial__img{
width:80px;
height:80px;
border-radius: 50%;
}

.testimonial__details{
margin-left:24px;
}

.testimonial__name{
color:#7c8ba1;
line-height: 1.6;
font-weight: 700;
}

.testimonial__role{
color:#7c8ba1;
font-weight: 500;
line-height: 1.5;
}

.testimonial__buttons{
display: flex;
align-items: center;
}

.testimonial__button{
display: flex;
justify-content: center;
align-items: center;
padding: 16px;
background: #edf2f7;
border-radius: 50%;
margin: 0 12px;
transition: all 300ms ease;
}

.section{
padding: 0 32px;
}

.container{
padding: 96px 0;
}

.row{
width:100%;
max-width: 1280px;
margin:0 auto;
}

.start__container{
padding:96px 0;
width: 100%;
background-color: rgb(100, 21, 255);
border-radius:8px;
display: flex;
justify-content: center;
align-items: center;
}

.start__row{
width:100%;
margin: auto 0;
max-width: 1024px;
padding: 0 32px;
display: flex;
justify-content: center;
align-items: center;
}

.start__title{
color: #f7fafc;
font-size: 30px;
font-weight: 700;
line-height: 1.5;
z-index: 2;
}

.start__buttons{
display: flex;
justify-content: flex-end;
}

.start__button{
padding: 20px 40px;
border-radius: 500px;
font-weight: 700;
font-size: 16px;
color:#f7fafc;
line-height: 1.5;
margin:1px;
z-index: 2;
}

.start__button:nth-child(1){
background: #f56565;
margin-right: 32px;
transition: all 300ms ease;
}


.start__button:nth-child(2){
background: #6415ff;
color: #f7fafc;
transition: all 300ms ease;
}
/*

FOOTER ↓

*/

.footer{
padding:96px 32px;
background-color: rgb(100, 21, 255);
margin-bottom: -32px;
position: relative;
overflow: hidden;
}

.row footer__row{
width: 100%;
max-width: 1280px;
margin:auto 0;
}

.footer__columns{
margin-top: -48px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.footer__column{
margin-top: 48px;
display: flex;
flex-direction: column;
align-items: flex-start;
z-index: 2;
}

.footer__column--title{
font-weight: 700;
color: #f7fafc;
line-height: 1.5;
}

.footer__column--link{
color:#f7fafc;
font-size: 14px;
line-height: 1.5;
font-weight: 500;
position: relative;
cursor: pointer;
}

.footer__divider{
width:100%;
height: 2px;
margin:64px 0;
background-color: rgb(116, 44, 255);
}

.footer__bottom{
display: flex;
justify-content: space-between;
align-items: center;
}

.footer__logo{
display: flex;
align-items: center;
}

.footer___logo--img{
height: 32px;
width: 32px;
}



h1{
color:#f7fafc;
font-size: 20px;
font-weight: 900;
margin-left: 8px;
letter-spacing: 0.05em;
}

p{
color:#f7fafc;
font-size: 16px;
font-weight: 500;
}

.footer__socials{
display: flex;
align-items: center;
margin-left: -16px;
}

.footer__social--link{
margin-left: 16px;
padding: 8px;
background: #f7fafc;
display: flex;
justify-content: center;
border-radius: 50%;
z-index: 2;
cursor: pointer;
transition: all 300ms ease;
}

MOBILE RESPONSIVENESS ↓

*/

@media (max-width:1280px){
header.row {
align-items: flex-end;
}
}

@media (max-width:1024px) {
.btn__menu {
display: block;
}
header.row{
flex-direction: column;
align-items: center;
}
footer{
padding: 80px 32px;
}
}

@media (max-width:768px) {
#quality.row,
#values.row{
flex-direction: column-reverse;
}
#steps.row,
#testimonials.row{
flex-direction: column;
align-items: center;
}
#pricing.row{
margin-top:40px;
}
}
@media (max-width:640px) {
.container{
padding: 80px 0;
}
.nav__logo{
margin: 8px 0;
padding-bottom: 4px;
}
main{
margin-bottom: 80px;
}
}